<a asp-area="" asp-controller="Ricerche" asp-action="MetodoA" class="nav-link text-dark btn btn-primary">Di visualizzare il totale dei verbali trascritti raggruppati per trasgressore,</a>

<a asp-area="" asp-controller="Ricerche" asp-action="MetodoB" class="nav-link text-dark btn btn-secondary">Di visualizzare il totale dei punti decurtati raggruppati per trasgressore,</a>

<a asp-area="" asp-controller="Ricerche" asp-action="MetodoC" class="nav-link text-dark btn btn-toolbar">Di visualizzare importo, cognome, nome, data di violazione e decurtamento punti delle violazioni che superano i 10 punti,,</a>

<a asp-area="" asp-controller="Ricerche" asp-action="MetodoD" class="nav-link text-dark btn btn-success">Le violazioni il cui importo è maggiore di 400 euro.</a>

