@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome TO POLIZIA MUNCIPALE</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
    <img src="/js/images.jpg" class="img-fluid w-100" alt="Immagine">
</div>